{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block header %}Change Password Done{% endblock %}
{% block title %}Change Password Done{% endblock %}
{% block content %}
    <div style="padding: 50px 30px 50px 30px">
        <div style="width: 100% ; display: flex;justify-content: center;align-items: center">
            <img src="{% static 'icons/change_password_done.png' %}" style="width: 64px" alt="">
        </div>
        You Successfully Change Your Password , <a class="card-link" href="{% url 'home' %}">Back To Home</a>

    </div>
{% endblock %}