{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block header %}Home Page{% endblock %}


{% block content %}
    {% if object_list %}
        {% for article in object_list %}
            <div onclick="window.location.href='{% url "article_detail" article.id %}'" class="card bg-light mb-3"
                 style="width: 100% ; height: 250px">
                {#            CARD HEADER           #}
                <div class="card-header">
                    <div style="width: 50% ; float: left">
                        <img class="rounded-circle" src="{{ article.author.avatar.url }}" style="width: 48px" alt=""/>
                        {% if article.author.first_name and article.author.last_name %}
                            {{ article.author.first_name }} {{ article.author.last_name }}
                        {% else %}
                            @{{ article.author.username }}
                        {% endif %}
                    </div>

                    {% if article.author == request.user %}
                        <div style="width: 50%; float: left ; text-align: right">
                            <a href="{% url 'article_update' article.id %}">✏️</a>
                            <a href="{% url 'article_delete' article.id %}">🗑</a>
                        </div>
                    {% endif %}

                </div>
                <div style="overflow: hidden ;width: 100% ; height: 100% ">
                    <div class="img-thumbnail" style="float: left ; width: 20% ;height: 100%; overflow: hidden">

                        {% if article.thumbnail %}
                            <img src="{{ article.thumbnail.url }}"
                                 style="width: 100% ;height: 100%; float: left ; object-fit: fill"
                                 alt="">
                        {% else %}
                            <div style="width: 100% ;height: 100%; display: flex;justify-content: center;align-items: center">
                                <img src="{% static 'icons/no_image.png' %}" style=" float: left; text-align: center"
                                     alt="">

                            </div>
                        {% endif %}
                    </div>
                    <div style="float: left ; width: 80% ;height: 300px; overflow: clip">
                        <div class="card-body" style="float: left ; width: 100%">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p style="width: 80%;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                               class="card-text">{{ article.body }}</p>
                            <p style="text-align: right">{{ article.date }} <br> at : {{ article.time }}</p>
                        </div>
                    </div>


                </div>

            </div>

        {% endfor %}

    {% else %}
        <div style="padding: 50px 30px 50px 30px">
            <div style="width: 100% ; display: flex;justify-content: center;align-items: center">
                <img src="{% static 'icons/empty.png' %}" style="width: 64px" alt="">
            </div>

            <h5 style="text-align: center ; margin-top: 20px">Nothing To Show</h5>

        </div>
    {% endif %}




{% endblock %}


