{% load static %}
{#<!DOCTYPE html>#}
{#{% load static %}#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <link rel="stylesheet" href="{% static 'css/style.css' %}">#}
{##}
{#    <title>{% block title %}{% endblock %}</title>#}
{#</head>#}
{#<body>#}
{#<ul>#}
{#    {% if user.is_authenticated %}#}
{#        <li><a href="{% url 'home' %}">Home</a></li>#}
{##}
{#        <li><a href="{% url 'password_reset' %}">Reset Password</a></li>#}
{#        <li><a href="{% url 'logout' %}">logout</a></li>#}
{##}
{#    {% else %}#}
{#        <li><a href="{% url 'login' %}">Login</a></li>#}
{##}
{#    {% endif %}#}
{##}
{##}
{#</ul>#}
{#{% block content %}#}
{##}
{#{% endblock %}#}
{#</body>#}
{#</html>#}

<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body style="background: #f1f6ff ;">

<section class="mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">{% block header %}{% endblock %}</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                {% if user.is_authenticated %}
                    {% if user.avatar == '' %}
                        <img class="navbar-brand rounded-circle" style="width: 48px" src="{% static 'default.png' %}"
                             alt="Default"/>
                    {% else %}
                        <img class="navbar-brand rounded-circle" style="width: 48px" src="{{ user.avatar.url }}"
                             alt="{{ user.avatar.url }}"/>
                    {% endif %}
                    <a class=" dropdown-toggle navbar-brand" href="#" id="dropdown04" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                    <div class="dropdown-menu p-1 bg-dark" aria-labelledby="dropdown04">
                        <div class="row ">
                            <div class="col-md-12">
                                <a class="dropdown-item text-light" href="{% url 'update' %}">Profile</a>
                                <a class="dropdown-item text-light" href="#">Wish List</a>
                                <a class="dropdown-item text-light" href="#">Likes</a>
                                <a class="dropdown-item text-light" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a class="  navbar-brand" href="{% url 'login' %}">Login</a>
                    <a class="  navbar-brand" href="{% url 'register' %}">Register</a>



                {% endif %}


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="{% url 'article_create' %}" class="nav-link">+Articles</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="rounded" style="width: 100% ;  position: relative; margin-top: 1%">
            {% block content %}{% endblock %}

        </div>
        <!-- END nav -->

    </div>


</section>
<div style="height: 50px">

</div>
<footer class="py-1 bg-dark"  style="position: fixed; bottom: 0 ; left: 0 ;width: 100%">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>

